# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
# Translations
*.mo
*.pot

.DS_Store
node_modules/
go.mod
go.sum
generated_go/
generated_rust/
vls.log
.sass-cache/
.lite_workspace.lua
static/assets/version
logs/
repos/
archives/
_docs/
*.code-workspace
.vscode
.DS_Store
node_modules/
books/
.DS_Store